*{
    margin: 0px;
    box-sizing: border-box;
    /* padding: 0px; */
}

.wrapper {
    background-image: url(../images/bg-pattern.jpg);
    z-index: 20;
    opacity: 0.993;
    margin: 0 auto;
    position: relative;
    height: 5000px;
    width: 1600px;
}

a{
    text-decoration: none;
}

header{
    width: 1600px;
    height: 750px;
    margin: 0 auto;
    /* position: relative; */
}


.gradient-picture{
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
}

.logo{   
    position: absolute;
    left: 179px;
    top: 46.901px;
    z-index: 2;
    text-decoration: none;
}

.logo:hover{
    /* background: rgba(209, 209, 209,0.2); */
    opacity: 0.7;
}



.navigation{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 551.5px;
    top: 49px;
    z-index: 2;
    /* outline: 2px solid green; */
    
}

.navigation a:hover{
    color:rgba(209, 209, 209,0.8);
}

.navigation a{
    color: rgb(255, 255, 255);
    
}
.navigation li{
    display: inline;
    margin: 24.8px;
    font-size: 19px;
    font-family: "Gentium Book Basic";
    font-weight: normal;
    letter-spacing: 1.2px;
}

.social-icons{
    position: absolute;
    left: 1260px;
    top: 50px;
    list-style-type: none;
    z-index: 2;
}

.social-icons li{
    display: inline;
    margin: 6px;
}

.social-icons a{
    font-size: 21px;
    color: rgb(218, 179, 62);
}

.fa:hover {
    color: rgba(212, 193, 136, 0.8);
}




.bg-pasta{
    position: absolute;
    top: 0px;
    left: 0px;
}



main .promo > h1{
    font-size: 90px;
    font-family: "Yeseva One";
    color: rgba(255, 255, 255, 0.922);
    font-weight: normal;
    line-height: 1.32;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    position: absolute;
    left: 250px;
    top: 212px;
    width: 1100px;
    height: 204px;
    z-index: 2;
}

.divider{
    position: absolute;
    top: 474px;
    left: 688px;
    z-index: 2;
}

.button-book-a-table{
    /* display: inline-block; */
    display: flex;
    font-size: 18px;
    font-family: "Lato";
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 556px;
    top: 552px;
    width: 228px;
    height: 57px;
    z-index: 2;
    opacity: 0.9;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.66);
}


  
  

.button-see-the-menu{
    display: flex;
    font-size: 18px;
    font-family: "Lato";
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 815px;
    top: 552px;
    width: 227px;
    height: 57px;
    z-index: 2;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.27);
    opacity: 0.9;
}

main > section > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main > section > a:hover{
    color:rgba(209, 209, 209,0.8);
}

/* section-promo-about */

.about {
    width: 1600px;
    height: 710px;
    margin: 0 auto;
    position: relative;
}

.about > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    text-align: center;
    font-weight: normal;
    position: absolute;
    left: 329px;
    top: 109px;
    z-index: 2;
}

.divider-about{
    position: absolute;
    left: 376px;
    top: 156px;
    z-index: 2;
}


.about > p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    position: absolute;
    left: 292.5px;
    top: 206px;
    width: 415px;
    height: 111px;
    z-index: 2;
}

.food {
    position: absolute;
    top: 55px;
    left: 739px;
}

.cook{
    position: absolute;
    top: 375px;
    left: 425px;
    z-index: 2;
}
  
/* section ingredients */

.ingredients{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 758px;
}

.ingredients > article{
    position: absolute; 
    top: 100px;
    left: 816px;
    width: 570px;
    height: 557px;
    /* outline: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.65);
}


  

.ingredients > article > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-top: 76px;
    font-weight: normal;
}

.divider-ingredietns{
 
    padding-left: 161px;
    padding-top: 15px;
}

.ingredients > article > p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    margin-left:77px;
    margin-top: 20px;
    width: 415px;
    /* z-index: 228; */
}

.images-for-article{
    margin-top: 67px;
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
    width: 391px;
    /* outline: 1px solid red; */
}

.wheat{
   float: left;
   border-radius: 50%;
   overflow: hidden;
   border: 5px solid rgba(34,35,36,0.8);
}

.wheat > img{
    margin: -35px -135px -55px -50px; 
}

.paper{
    float: left;
    border-radius: 50%;
    /* width: 300px;
    height: 300px; */
    overflow: hidden;
    border: 5px solid rgba(34,35,36,0.8);

 }
 
 .paper > img{
     margin: -95px -95px -25px -45px; 
 }

 .bread{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(34,35,36,0.8);
 }
 
 .bread > img{
     margin: -20px -60px -20px -50px; 
 }
 



/* style for section with class="menu" */

.menu{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 994px;
    
}

.space-between-points{
    margin-top: 35px;
    margin-left: 13px;
}

.left-side-menu{
    position: absolute;
    top: 100px;
    left: 270px;
    width: 500px;
    height: 830px;
    /* outline: 1px solid red; */
    overflow: hidden;
    
}

.left-side-menu > .upper-part-menu{
    width: 450px;
    /* height: 380px; */
    overflow: hidden;
    /* outline: 1px solid yellow; */
    
}

.left-side-menu > .upper-part-menu  > h2{
    
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 132px;
    padding-top: 9px;
    
}

 .upper-part-menu >  img{
    padding-top: 19px;
    padding-left: 106px; 
}

.point-of-menu-one{

    margin-top: 23px;
    margin-left: 13px;
}

.menu > h3{
    font-family: "Yeseva One";
    font-size: 21px;
    color: rgb(204, 153, 0);
    width: 432px;
    font-weight: normal;
}

.prices{
    float: right;
}

 .menu p{
    font-family: "Lato";
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-weight: normal;
}
.line{
    padding-left: 3px;
    margin-bottom: 5px;
}







.menu h3{
    font-family: "Yeseva One";
    font-size: 21px;
    word-spacing: 1.4px;
    color: rgb(204, 153, 0);
    width: 432px;
    font-weight: normal
}


  
 .lower-part-menu{
    width: 450px;
    margin-top: 63px;
    /* outline: 1px solid black; */
}

.left-side-menu > .lower-part-menu > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 170px;
    padding-top: 9px;
}

.left-side-menu > .lower-part-menu > img{
    padding-top: 19px;
    padding-left: 106px; 
}

.left-side-menu > .special {
    position: absolute;
    top: 608px;
    left: 1px;
}


.right-side-menu{
    position: absolute;
    top: 100px;
    left: 870px;
    width: 470px;
    height: 830px;
    /* outline: 1px solid red; */
    overflow: hidden;
}


.right-side-menu > .upper-part-menu  > h2{
    
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 154px;
    padding-top: 9px;
    
}

.right-side-menu > .lower-part-menu > .point-of-menu-one{
    margin-top: 22px;
}

.right-side-menu > .lower-part-menu > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 117px;
    padding-top: 9px;
}

.right-side-menu > .lower-part-menu > img{
    padding-top: 19px;
    padding-left: 106px; 
}

.right-side-menu > .special {
    position: absolute;
    top: 510px;
    left: 1px;
}


/* style for section-reviews */

