*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url(../images/bg-pat.png);
}


.wrapper {
    background-image: url(../images/bg-pattern.jpg);
    z-index: 20;
    opacity: 0.993;
    margin: 0 auto;
    position: relative;
    /* height: 5000px;*/
    width: 1600px; 
    min-height: calc(100vh - 320px);
}

a{
    text-decoration: none;
}

footer{
    margin: 0 auto;
    width: 1600px;
}

header{
    width: 1600px;
    height: 750px;
    margin: 0 auto;
    /* position: relative; */
}


.gradient-picture{
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
}

.logo{   
    position: absolute;
    left: 179px;
    top: 46.901px;
    z-index: 2;
    text-decoration: none;
}

.logo:hover{
    /* background: rgba(209, 209, 209,0.2); */
    opacity: 0.7;
}



.navigation{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 550px;
    top: 49.5px;
    z-index: 2;
    /* outline: 2px solid green; */
    
}

.navigation a:hover{
    color:rgba(209, 209, 209,0.8);
}

.navigation a{
    color: rgb(255, 255, 255);
    
}
.navigation li{
    display: inline;
    margin: 24.8px;
    font-size: 19px;
    font-family: "Gentium Book Basic";
    font-weight: normal;
    letter-spacing: 1.23px;
}

.social-icons{
    position: absolute;
    left: 1260px;
    top: 50px;
    list-style-type: none;
    z-index: 2;
}

.social-icons li{
    display: inline;
    margin: 5.5px;
}

.social-icons a{
    font-size: 21px;
    color: rgb(218, 179, 62);
}

.fa:hover {
    color: rgba(212, 193, 136, 0.8);
}




.bg-pasta{
    position: absolute;
    top: 0px;
    left: 0px;
}



main .promo > h1{
    font-size: 90px;
    font-family: "Yeseva One";
    color: rgba(255, 255, 255, 0.922);
    font-weight: normal;
    line-height: 1.32;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    position: absolute;
    left: 250px;
    top: 213px;
    width: 1100px;
    height: 204px;
    z-index: 2;
}

.divider{
    position: absolute;
    top: 474px;
    left: 688px;
    z-index: 2;
}

.button-book-a-table{
    /* display: inline-block; */
    display: flex;
    font-size: 18px;
    font-family: "Lato";
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 556px;
    top: 552px;
    width: 228px;
    height: 57px;
    z-index: 2;
    opacity: 0.9;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.66);
}


  
  

.button-see-the-menu{
    display: flex;
    font-size: 18px;
    font-family: "Lato";
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 815px;
    top: 552px;
    width: 227px;
    height: 57px;
    z-index: 2;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.27);
    opacity: 0.9;
}

main > section > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main > section > a:hover{
    color:rgba(209, 209, 209,0.8);
}

/* section-promo-about */

.about {
    width: 1600px;
    height: 710px;
    margin: 0 auto;
    position: relative;
}

.about article h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    text-align: center;
    font-weight: normal;
    margin-left: 89px;
    margin-top: 8px
}

.divider-about{
    margin-top: 24px;
    margin-left: 174px;
}

.about article {
    position: absolute;
    top: 100px;
    left: 200px;
    /* width: 550px; */
    height: 230px;
    overflow: hidden;
}

.about article p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    width: 415px;
    height: 111px;
    margin-left: 92px;
    margin-top: 20px;
    
}

.food {
    position: absolute;
    top: 55px;
    left: 739px;
}

.cook{
    position: absolute;
    top: 375px;
    left: 425px;
    z-index: 2;
}
  
/* section ingredients */

.ingredients{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 758px;
}

.ingredients > article{
    position: absolute; 
    top: 100px;
    left: 816px;
    width: 570px;
    height: 557px;
    background-color: rgba(0, 0, 0, 0.65);
}


  

.ingredients > article > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-top: 75px;
    font-weight: normal;
}

.divider-ingredietns{
 
    padding-left: 161px;
    padding-top: 15px;
}

.ingredients > article > p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    margin-left:77px;
    margin-top: 19px;
    width: 415px;
    height: 120px;
    overflow: hidden;
}

.images-for-article{
    margin-top: 67px;
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
    width: 391px;
}


.wheat{
   float: left;
   border-radius: 50%;
   overflow: hidden;
   border: 5px solid rgba(84, 87, 87, 0.3);
}

.wheat > img{
    margin: -37px -137px -57px -50px; 
}

.paper{
    float: left;
    border-radius: 50%;
    /* width: 300px;
    height: 300px; */
    overflow: hidden;
    border: 5px solid rgba(84, 87, 87, 0.3);

 }
 
 .paper > img{
     margin: -93px -97px -29px -45px; 
 }

 .bread{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(84, 87, 87, 0.3);
 }
 
 .bread > img{
     margin: -20px -60px -22px -50px; 
 }
 



/* style for section with class="menu" */

.menu{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 994px;
}

.content-menu{
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 200px;
    height: 800px;
    width: 1200px;
}

.space-between-points{
    margin-top: 37px;
    margin-left: 13px;
}

.left-side-menu{
    position: absolute;
    left: 70px;
    width: 500px;
    height: 830px;
    overflow: hidden;
    
}

.left-side-menu > .upper-part-menu{
    width: 450px;
    overflow: hidden;   
}

.left-side-menu > .upper-part-menu  > h2{
    
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 132px;
    padding-top: 9px;
    
}

 .upper-part-menu >  img{
    padding-top: 19px;
    padding-left: 106px; 
}

.point-of-menu-one{

    margin-top: 23px;
    margin-left: 13px;
}


.prices{
    float: right;
}

 .menu p{
    font-family: "Lato";
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-weight: normal;
    margin-top: 0.4px;
}
.line{
    padding-left: 3px;
    margin-bottom: 5px;
}







.menu h3{
    font-family: "Yeseva One";
    font-size: 21px;
    word-spacing: 1.4px;
    color: rgb(204, 153, 0);
    width: 432px;
    font-weight: normal
}


  
 .lower-part-menu{
    width: 450px;
    margin-top: 63px;
    /* outline: 1px solid black; */
}

.left-side-menu > .lower-part-menu > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 170px;
    padding-top: 9px;
}

.left-side-menu > .lower-part-menu > img{
    padding-top: 19px;
    padding-left: 106px; 
}

.left-side-menu > .special {
    position: absolute;
    top: 608px;
    left: 1px;
}


.right-side-menu{
    position: absolute;
    /* top: 100px; */
    left: 670px;
    width: 470px;
    height: 830px;
    /* outline: 1px solid red; */
    overflow: hidden;
}


.right-side-menu > .upper-part-menu  > h2{
    
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 154px;
    padding-top: 9px;
    
}

.right-side-menu > .lower-part-menu > .point-of-menu-one{
    margin-top: 22px;
}

.right-side-menu > .lower-part-menu > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    padding-left: 117px;
    padding-top: 9px;
}

.right-side-menu > .lower-part-menu > img{
    padding-top: 19px;
    padding-left: 106px; 
}

.right-side-menu > .special {
    position: absolute;
    top: 510px;
    left: 1px;
}

.right-side-menu > .lower-part-menu > .point-of-menu-one > p{
    margin-top: 1.5px;
}


/* style for section-reviews */

.reviews{
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 758px;
}

.reviews > article{
    position: absolute;
    top: 101px;
    left: 416px;
    width: 769px;
    height: 557px;
    background-color: rgba(0, 0, 0, 0.65);
    /* outline: 1px solid red */
}


  

.reviews > article > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 74px auto 0 auto;
    font-weight: normal;
}

.reviews > article > img{
    margin: 15px auto 0 262px;
}



blockquote {
    font-size: 25px;
    font-family: "Gentium Book Basic";
    color: rgb(221, 224, 223);
    font-weight: normal;
    line-height: 1.813334;
    text-align: center;
    letter-spacing: 0.55px;
    word-spacing: 1px;
    margin-top: 15px;
    margin-left: 71.5px;
    width: 627px;   
    /* outline: 1px solid red; */
    height: 224px;
    overflow: hidden;
}
 
blockquote:before {
    content: "\201C";
    font-size: 96px;
    font-family: "Georgia";
    color: rgba(242, 244, 244, 0.471);
    position: absolute;
    top: 121px;
    left: 27px;

}

.reviews article > .place{
    margin-left: 304.5px;
    margin-top: 33px;
    font-size: 18px;
    font-family: "Lato";
    font-weight: normal;
    color: rgb(255, 255, 255);

}


/* style for section-reservations */

.reservations{
    position: relative;
    margin: 0 auto;
    height: 710px;
}

.reservations > .pic-for-reservations {
    position: absolute;
    top: 100px;
    left: 215px;
    display: flex;
    justify-content: space-between;
    width: 570px;
}

.reservations > article {
    position: absolute;
    top: 105px;
    right: 250px;
    width: 500px;
    height: 250px;
    overflow: hidden;
}

.reservations > article > h2{
    font-size: 36px;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    text-align: center;
    font-weight: normal;
}

.reservations > article > img{
    margin-top: 24px;
    margin-left: 125px;
    margin-bottom: 20px;
}

.reservations > article > p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center; 
    width: 440px;   
    margin-left: 30px;
    /* margin-top: 15px; */
}
  
.reservations > article > .lower-paragraph {
    margin-top: 10px;
    margin-left: 36px;   
    line-height: 1.55;
    width: 430px;
}

.booking-form{
    position: absolute;
    top: 395px;
    right: 156px;
    width: 600px;
}

.booking-form  .date::-webkit-calendar-picker-indicator {
    color: rgba(0,0,0,0);
    opacity: 0;    
}

.booking-form  input::-webkit-inner-spin-button,
.booking-form input::-webkit-clear-button {
  display: none; 
}

.booking-form  .date::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
  }

.booking-form > ul{
    padding: 0;
    list-style-type: none;
}

.booking-form > .left-ul {
    float: left;
    margin-left: 40.5px;
}

.booking-form > .right-ul {
    float: right;
    margin-right: 129px;
}


.booking-form > ul label{
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(201, 161, 49);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.5px;
    display: inline-block;
}

.lower-label{
    margin-top: 18px;
}

.booking-form > ul li {
    margin-bottom: 6px;
    /* margin-top: 20px; */
}

:-moz-placeholder {
    padding-left: 14px;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(124, 124, 124);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}

::-webkit-input-placeholder {
    
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(124, 124, 124);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding-left: 14px;
    word-spacing: -0.5px;
    /* margin-left: 15px; */
}

*:focus {
    outline: none;
}

.booking-form input{
    border: 1px solid rgb(200,198,198);
    height: 36px;
    width: 200px;
    
}

.booking-form ul .party-number{
    background-image: url(../images/section-reservations/arrow.png);
    background-repeat: no-repeat;
    background-position: 176px 12.5px;
}

.booking-form ul .date {
    background-image: url(../images/section-reservations/calendar.png);
    background-repeat: no-repeat;
    background-position: 174px 7px;
}

.booking-form ul input{
    background: rgba(255, 255, 255, 0.4); 
}
.booking-form input:focus{
    border: 1px solid rgb(200, 159, 45);
}

.booking-form .button { 
    margin: 26px auto 0 157px; 
    font-family: "OpenSans";
    background: rgb(200, 159, 45); 
    color: rgb(255,255,255); 
    font-size: 17px;
    word-spacing: 2.4px;
}
  
  

  /* Style for footer */

footer{
    margin: 0 auto;
    position: relative;
}

footer .about-us, footer .opening-hours, footer .location {
    overflow: hidden;
}

footer > .about-us{
    position: absolute;
    top: 57px;
    left: 215px;
    height: 200px;
    width: 370px;
}

footer h2{
    font-size: 21px;
    font-family: "Yeseva One";
    color: rgb(254, 254, 254);
    line-height: 1.143;
    text-align: center;      
}

footer .footer-divider{
    margin-left: 84px;
    margin-top: 16px;
    margin-bottom: 14px;
}

footer p{
    text-align: center;
    font-size: 16px; 
    color: rgb(254, 254, 254);
    font-family: "Open Sans";
    text-align: center; 
    line-height: 24px; 
}

footer > .opening-hours{
    position: absolute;
    top: 57px;
    left: 615px;
    height: 200px;
    width: 370px;
}

.opening-hours > p{
    letter-spacing: -0.15px;
    word-spacing: 2px;
}

.opening-hours ul{
    margin-top: 50px;
    margin-left: 80px;
}

footer  i{
    color: rgb(254, 254, 254);
    margin-left: 9px;
}

.location h2{
    letter-spacing: 1px;
}

.opening-hours p{
    letter-spacing: 0.15px;
}

footer .location {
    position: absolute;
    top: 57px;
    height: 200px;
    left: 1018px;
    width: 370px;
}

.location ul{
    margin-top: 50px;
    margin-left: 92px; 
}

.location p{
    letter-spacing: 0.7px;
    word-spacing: 0.9px;
}

