*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    width: 1600px;
    min-height: calc(100vh - 320px);
}

@font-face { 
    font-family: "GenBasB"; 
    src: local("GebBasB"), url('../fonts/GenBasB.ttf'); 
} 

@font-face { 
    font-family: "YesevaOne-Regular_v2"; 
    src: local("YesevaOne-Regular_v2"),url('../fonts/YesevaOne-Regular_v2.otf'); 
} 

@font-face { 
    font-family: "Lato-Regular"; 
    src: local("Lato-Regular"), url('../fonts/Lato-Regular.ttf'); 
} 

@font-face { 
    font-family: "open-sans.bold"; 
    src: local("open-sans.bold"), url('../fonts/OpenSans-Bold.ttf'); 
} 

@font-face { 
    font-family: "open-sans.regular"; 
    src: local("open-sans.regular"), url('../fonts/OpenSans-Regular.ttf'); 
} 


.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}


header{
    width: 1600px;
    height: 750px;
    background:  url(../images/header/gradient.png) top center , url(../images/header/bg-header.jpg) top center;
    background-repeat: no-repeat;
}

.logo{
    float: left;
    margin: 47px 0 0 178px;
}

.logo:hover{
    opacity: 0.8;
    cursor: pointer;
}

nav {
    display: flex;
    margin: 49px 216px 0 0;
    float: right;
}

nav ul:first-child{
    padding: 0;
    list-style-type: none;
}

nav ul:first-child a:hover{
    color:rgba(209, 209, 209,0.8);
}

nav ul:first-child a{
    color: rgb(255, 255, 255); 
}

nav ul:first-child li{
    display: inline;
    font-size: 21px;
    font-family: "GenBasB"; 
    font-weight: normal;
    margin: 24.8px;
    letter-spacing: -0.15px;
}

nav ul:first-child li:last-child{
    margin-right: 12px;
}


nav ul:last-child{
    list-style-type: none;
}

nav ul:last-child li{
    display: inline;
    margin: 0 0 0 11px;
}

nav ul:last-child a{
    font-size: 21px;
    color: rgb(218, 179, 62);
}

.fa:hover {
    color: rgba(212, 193, 136, 0.8);
}

.promo{
    margin: 136px auto;
    background: url(../images/header/divider.png) 436px 261px no-repeat;
    width: 1100px;
    height: 400px;
}

.promo > h1{
    font-size: 90px;
    font-family: "YesevaOne-Regular_v2";
    color: rgba(255, 255, 255, 0.922);
    line-height: 1.32;
    text-align: center;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
    width: 1100px;
}

.promo a{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 228px;
    height: 57px;
    opacity: 0.9;
    line-height: 55px;
    display: block;
    font-size: 18px;
    font-family: "Lato-Regular";
    margin-top: 102px;
}
.promo a:hover{
    opacity: 0.7;
}


.button-book-a-table{
    float: left;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.66);
    margin-left: 306px;
}

.button-see-the-menu{
    float: right;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.27);
    margin-right: 308px;
}


/* start style for section-about */

.about {
    width: 1600px;
    height: 710px;
    background:  url(../images/section-about/bg-pat.png), url(../images/section-about/bg-shadow.png);
}

.about article {
    float: left;
    margin: 100px 0 0 200px;
    width: 510px;
    height: 500px;
    background: url(../images/section-about/divider.png) 175px 55px no-repeat;
}

.about article h2{
    font-size: 36px;
    font-family: "YesevaOne-Regular_v2";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    font-weight: normal;
    margin: 8px 0 0 128px;
}

.about article img{
    margin: 55px 0 0 225px;
}



.about article p{
    font-size: 16px;
    font-family: "Lato-Regular";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    width: 416px;
    height: 115px;
    margin-left: 93px;
    margin-top: 73px;   
    overflow: hidden;
}

.about > img{
    float: right;
    margin: 55px 240px 0 0;
}


/* start styles for section-ingredients */

.ingredients{
    display: flex;
    width: 1600px;
    height: 758px;
    background: url(../images/section-ingredients/bg-section-ingredients.jpg) top center no-repeat;
}

.ingredients > article{
    margin: 100px 0 0 815px;
    width: 570px;
    height: 557px;
    background: url(../images/section-ingredients/divider.png) 162px 133px no-repeat;
    background-color: rgba(0, 0, 0, 0.65);
}

.ingredients > article > h2{
    font-size: 36px;
    font-family: "YesevaOne-Regular_v2";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-top: 75px;
    font-weight: normal;
}


.ingredients > article > p{
    font-size: 16px;
    font-family: "Lato-Regular";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    word-spacing: -0.7px;
    text-align: center;
    margin: 63px 0 0 79px;
    width: 416px;
    height: 120px;
    overflow: hidden;
}

.ingredients > article > figure{
    margin-top: 67px;
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
    width: 391px;
}


.wheat{
   float: left;
   border-radius: 50%;
   overflow: hidden;
   border: 5px solid rgba(84, 87, 87, 0.3);
}

.wheat > img{
    margin: -37px -137px -57px -50px; 
}

.paper{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(84, 87, 87, 0.3);

 }
 
 .paper > img{
     margin: -93px -97px -29px -45px; 
 }

 .bread{
    float: left;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(84, 87, 87, 0.3);
 }
 
 .bread > img{
     margin: -20px -60px -22px -50px; 
 }

 /* start the style for menu */

 .menu{
     display: flex;
     width: 1600px;
     height: 994px;
     background: url(../images/section-menu/bg-pattern.png), url(../images/section-menu/bg-shadow.png);
 }

 .content-menu{
    margin: 100px 0 0 200px;
    width: 1200px;
}

.content-menu > section{
    position: relative;
    width: 500px;
    height: 830px;
    overflow: hidden;
}

.content-menu > section:first-child{
    margin: 0 0 0 50px;
    float: left;
    background: url("../images/section-menu/border-for-special-delicious.png") 22px 608px no-repeat;

}

.content-menu > section:last-child{
    float: right;
    margin: 0 50px 0 0;
    background: url("../images/section-menu/border-for-special-delicious.png") 22px 508px no-repeat;

}

.content-menu > section > section{
    overflow: hidden;  
    margin: 0 0 0 20px;
    background: url(../images/section-menu/divider.png) 105px 55px no-repeat;
}

.content-menu > section h2{
    font-size: 36px;
    font-family: "YesevaOne-Regular_v2";
    line-height: 0.667;
    color: rgb(204, 153, 0);
    text-align: center;
    font-weight: normal;
    display: inline-block;
    
}

.content-menu > section:first-child .upper-part-menu h2{
    padding-left: 132px;
    padding-top: 9px;   
    margin-bottom: 37px;
}




.prices{
    float: right;
}

.menu p{
    font-family: "Lato-Regular";
    font-size: 16px;
    color: rgb(76, 76, 76);
    font-weight: normal;
    margin-top: 8px;
}


.menu h3{
    font-family: "YesevaOne-Regular_v2";
    font-size: 21px;
    word-spacing: 1.4px;
    color: rgb(204, 153, 0);
    width: 432px;
    font-weight: normal;
    margin: 30px 0 0 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(204, 153, 0);

}

.space-between-points{
    margin: 37px 0 0 13px;
}

.content-menu > section:first-child .lower-part-menu{
    margin: 69px 0 0 20px;
    background-position: 105px 49px;
}


.content-menu > section:first-child .lower-part-menu h2{
    padding: 2px 0 0 170px;
    margin-bottom: 37px;
}


.content-menu > section:last-child .upper-part-menu h2{
    padding-left: 152px;
    padding-top: 9px;   
    margin-bottom: 37px;
}

.content-menu > section:last-child .lower-part-menu{
    margin: 69px 0 0 20px;
    background-position: 105px 49px;
}

.content-menu > section:last-child .lower-part-menu h2{
    padding-left: 118px;
    padding-top: 2px;   
    margin-bottom: 37px;
}




/* start style for section-reviews*/

.reviews{
    display: flex;
    width: 1600px;
    height: 758px;
    background: url(../images/section-reviews/bg-reviews.jpg) top center no-repeat;
}

.reviews > article{
    margin: 101px 0 0 416px;
    padding: 74.5px 71px 0 71px;
    width: 769px;
    height: 557px;
    background: url(../images/section-reviews/divider.png) 262px 131px no-repeat;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
}

  
.reviews > article > h2{
    font-size: 36px;
    font-family: "YesevaOne-Regular_v2";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 58px auto;
    font-weight: normal;
}


blockquote {
    position: relative;
    font-size: 25px;
    font-family: "GenBasB";
    color: rgb(221, 224, 223);
    font-weight: normal;
    line-height: 1.813334;
    text-align: center;
    word-spacing: 1px; 
    width: 627px;   
    height: 224px;
}

blockquote::before{
    content: "\201C"; /*ковычки для цитаты*/
    font-size: 96px;
    font-family: "Georgia";
    color: rgba(242, 244, 244, 0.471);
    position: absolute;
    top: -55px;
    left: -44px;
}
 
.reviews article > .place{
    margin: 33px 0 0 231.5px;
    font-size: 18px;
    font-family: "Lato-Regular";
    font-weight: normal;
    color: rgb(255, 255, 255);

}

/* start style for section-reservation */

.reservations{
    overflow: hidden;
    display: flex;
    width: 1600px;
    height: 710px;
    background: url(../images/section-reservations/bg-pat.png), url(../images/section-reservations/bg-shadow.png);
}


.reservations > figure {
    margin: 100px 0 0 215px;
    display: flex;
    justify-content: space-between;
    width: 570px;
    height: 507px;  
}

.reservations > section{
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 65px;
}




.reservations > section > article {
    margin-right: 170px;
    width: 500px;
    background: url("../images/section-reservations/divider.png") 127px 51px no-repeat;
    overflow: hidden;
}

.reservations > section > article > h2{
    font-size: 36px;
    font-family: "YesevaOne-Regular_v2";
    color: rgb(204, 153, 0);
    line-height: 0.667;
    text-align: center;
    font-weight: normal;
    padding-top: 5px;
    margin-bottom: 73px;
}

.reservations > section > article > p{
    font-size: 16px;
    font-family: "Lato-Regular";
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center; 
    width: 440px;   
    margin-left: 33.5px;
}
  
.reservations > section > article > .lower-paragraph {
    margin: 10px 0 0 36px;  
    line-height: 1.55;
    width: 430px;
}

form .date::-webkit-calendar-picker-indicator {
    color: rgba(0,0,0,0);
    opacity: 0;    
}

form  input::-webkit-inner-spin-button,
form input::-webkit-clear-button {
  display: none; 
}

form .date::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
}



form  section:first-child {
    float: left;
}

form section:nth-child(2){
    float:  right;
}





:-moz-placeholder {
    padding-left: 14px;
    font-size: 16px;
    font-family: "open-sans.regular";
    color: rgb(124, 124, 124);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}

::-webkit-input-placeholder {
    
    font-size: 16px;
    font-family: "open-sans.regular";
    color: rgb(124, 124, 124);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding-left: 14px;
    word-spacing: -0.5px;
}

*:focus {
    outline: none;
}

form { 
    width: 427px; 
    margin: 37.5px 0 0 37px;
    height: 220px; 
} 

form div label { 
    display: block; 
    width: 200px; 
    font-family: "open-sans.bold"; 
    font-size: 14px; 
    color: #c9a131; 
} 

form div input { 
    display: block; 
    height: 36px; 
    width: 200px; 
    margin: 5px 0 2.5px 0;
    background: rgba(255, 255, 255, 0.4); 
} 

form div label input { 
    border: 1px solid #c8c6c6; 
} 

form div input:focus { 
    border-color: #c9a131; 
} 



form .party-number{
    background-image: url(../images/section-reservations/arrow.png);
    background-repeat: no-repeat;
    background-position: 176px 12.5px;
}

form .date {
    background-image: url(../images/section-reservations/calendar.png);
    background-repeat: no-repeat;
    background-position: 174px 7px;
}



form .button { 
    height: 36px; 
    width: 200px; 
    margin: 31px auto 0 113px; 
    font-family: "open-sans.regular";
    background: rgb(200, 159, 45); 
    color: rgb(255,255,255); 
    font-size: 17px;
    word-spacing: -2px;
}


/* start style for footer */

footer{
    margin: 0 auto;
    width: 1600px;
    height: 320px;
    overflow: hidden;
    background: url(../images/footer/bg-footer.jpg);
}

footer > section{
    height: 250px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 57px 0 0 215px;
}

footer > section > section {
    background: url("../images/footer/divider.png") 85px 40px no-repeat;
    width: 370px;
    height: 200px; 
}

footer h2{
    font-size: 21px;
    font-family: "YesevaOne-Regular_v2";
    color: rgb(254, 254, 254);
    line-height: 1.143;
    text-align: center;   
    font-weight: normal;  
    margin-bottom: 53px; 
}


footer p{
    text-align: center;
    font-size: 16px; 
    color: rgb(254, 254, 254);
    font-family: "open-sans.regular";
    text-align: center; 
    line-height: 24px; 
}


footer i{
    color: rgb(254, 254, 254);
    margin-left: 8.5px;
}

.opening-hours ul{
    margin: 50px 0 0 120px;
}

.location ul{
    margin: 50px 0 0 138px;
}

footer span{
    font-weight: bold;
}

.location p{
    letter-spacing: 0.7px;
    word-spacing: 0.9px;
}

.opening-hours p{
    letter-spacing: 0.15px;
}